<div class="section">
  <div class="container">
    <div class="row justify-center">
      <div class="lg:col-10">
        <div id="giscus-comments" class="giscus"></div>
        <script src="https://giscus.app/client.js"
                data-repo="AdriaCoding/web"
                data-repo-id="R_kgDONXCOaA"
                data-category="General"
                data-category-id="DIC_kwDONXCOaM4Cw1YV"
                data-mapping="pathname"
                data-strict="0"
                data-reactions-enabled="1"
                data-emit-metadata="1"
                data-input-position="top"
                data-theme="light"
                data-lang="{{ .Lang }}"
                data-loading="lazy"
                crossorigin="anonymous"
                async>
        </script>
      </div>
    </div>
  </div>
</div>